# Dependencies
node_modules/
.next/
out/
build/
dist/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project Specific
data/files/*
!data/files/.gitkeep
data/zips/*
!data/zips/.gitkeep
backend/__pycache__/
ingestion/__pycache__/
venv/
.venv/
pgdata/
osdata/

